<!DOCTYPE html>


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Additional Generic Views &mdash; Effective Django</title>
    
    <link rel="stylesheet" href="../_static/basic.css" type="text/css" />
    <link rel="stylesheet" href="../_static/styles.css" type="text/css" />
    <link rel="stylesheet" href="../_static/single.css" type="text/css" />
    
    <link rel="stylesheet" href="../_static/custom.css" type="text/css" />
    
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/common.js"></script>
    
    <script type="text/javascript" src="../_static/slides.js"></script>
    <script type="text/javascript" src="../_static/sync.js"></script>
    <script type="text/javascript" src="../_static/controller.js"></script>
    <script type="text/javascript" src="../_static/init.js"></script>
    
    
    <link rel="top" title="Effective Django" href="../index.html" />
 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-188298-7']);
  _gaq.push(['_trackPageview']);
</script>

  </head>
  <body>

<section
   id="slide_container"
   class='slides layout-regular'>


  
<article class="slide level-1" id="additional-generic-views">

<h1>Additional Generic Views<a class="headerlink" href="../../tutorial/additional-views.html#additional-generic-views" title="View HTML">§</a></h1>





</article>
<article class="slide level-2" id="edit-views">

<h2>Edit Views<a class="headerlink" href="../../tutorial/additional-views.html#edit-views" title="View HTML">§</a></h2>

<p>In addition to creating Contacts, we'll of course want to edit them.
As with the List and Create views, Django has a generic view we can
use as a starting point.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">UpdateView</span>
<span class="o">...</span>
<span class="k">class</span> <span class="nc">UpdateContactView</span><span class="p">(</span><span class="n">UpdateView</span><span class="p">):</span>

    <span class="n">model</span> <span class="o">=</span> <span class="n">Contact</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">&#39;edit_contact.html&#39;</span>

    <span class="k">def</span> <span class="nf">get_success_url</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">reverse</span><span class="p">(</span><span class="s">&#39;contacts-list&#39;</span><span class="p">)</span>
</pre></div>
</div>
<ul class="simple">
<li>we can re-use the same template</li>
<li>but how does it know which contact to load?</li>
<li>we need to either: provide a pk/slug, or override get_object().</li>
<li>we'll provide pk in the URL</li>
</ul>
<div class="highlight-python"><div class="highlight"><pre>    <span class="n">url</span><span class="p">(</span><span class="s">r&#39;^edit/(?P&lt;pk&gt;\d+)/$&#39;</span><span class="p">,</span> <span class="n">contacts</span><span class="o">.</span><span class="n">views</span><span class="o">.</span><span class="n">UpdateContactView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span>
        <span class="n">name</span><span class="o">=</span><span class="s">&#39;contacts-edit&#39;</span><span class="p">,),</span>
</pre></div>
</div>
<p>We'll update the contact list to include an edit link next to each
contact.</p>
<div class="highlight-html"><div class="highlight"><pre>{% extends &quot;base.html&quot; %}

{% block content %}
&lt;h1&gt;Contacts&lt;/h1&gt;

&lt;ul&gt;
  {% for contact in object_list %}
    &lt;li class=&quot;contact&quot;&gt;{{ contact }}
      (&lt;a href=&quot;{% url &quot;contacts-edit&quot; pk=contact.id %}&quot;&gt;edit&lt;/a&gt;)
    &lt;/li&gt;
  {% endfor %}
&lt;/ul&gt;

&lt;a href=&quot;{% url &quot;contacts-new&quot; %}&quot;&gt;add contact&lt;/a&gt;
{% endblock %}
</pre></div>
</div>
<p>Note the use of <code class="docutils literal"><span class="pre">pk=contact.id</span></code> in the <code class="docutils literal"><span class="pre">{%</span> <span class="pre">url</span> <span class="pre">%}</span></code> tag to specify
the arguments to fill into the URL pattern.</p>
<p>If you run the server now, you'll see an edit link. Go ahead and click
it, and try to make a change. You'll notice that instead of editing
the existing record, it creates a new one. Sad face.</p>
<p>If we look at the source of the edit HTML, we can easily see the
reason: the form targets <code class="docutils literal"><span class="pre">/new</span></code>, not our edit URL. To fix this --
and still allow re-using the template -- we're going to add some
information to the template context.</p>
<p>The template context is the information available to a template when
it's rendered. This is a combination of information you provide in
your view -- either directly or indirectly -- and information added by
<a class="reference external" href="https://docs.djangoproject.com/en/1.5/ref/templates/api/#subclassing-context-requestcontext">context processors</a>, such as the location for static media and
current locale. In order to use the same template for add and edit,
we'll add information about where the form should redirect to the
context.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">CreateContactView</span><span class="p">(</span><span class="n">CreateView</span><span class="p">):</span>

    <span class="n">model</span> <span class="o">=</span> <span class="n">Contact</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">&#39;edit_contact.html&#39;</span>

    <span class="k">def</span> <span class="nf">get_success_url</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">reverse</span><span class="p">(</span><span class="s">&#39;contacts-list&#39;</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">get_context_data</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>

        <span class="n">context</span> <span class="o">=</span> <span class="nb">super</span><span class="p">(</span><span class="n">CreateContactView</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span><span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
        <span class="n">context</span><span class="p">[</span><span class="s">&#39;action&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">reverse</span><span class="p">(</span><span class="s">&#39;contacts-new&#39;</span><span class="p">)</span>

        <span class="k">return</span> <span class="n">context</span>
</pre></div>
</div>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">UpdateContactView</span><span class="p">(</span><span class="n">UpdateView</span><span class="p">):</span>

    <span class="n">model</span> <span class="o">=</span> <span class="n">Contact</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">&#39;edit_contact.html&#39;</span>

    <span class="k">def</span> <span class="nf">get_success_url</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">reverse</span><span class="p">(</span><span class="s">&#39;contacts-list&#39;</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">get_context_data</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>

        <span class="n">context</span> <span class="o">=</span> <span class="nb">super</span><span class="p">(</span><span class="n">UpdateContactView</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span><span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
        <span class="n">context</span><span class="p">[</span><span class="s">&#39;action&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">reverse</span><span class="p">(</span><span class="s">&#39;contacts-edit&#39;</span><span class="p">,</span>
                                    <span class="n">kwargs</span><span class="o">=</span><span class="p">{</span><span class="s">&#39;pk&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">get_object</span><span class="p">()</span><span class="o">.</span><span class="n">id</span><span class="p">})</span>

        <span class="k">return</span> <span class="n">context</span>
</pre></div>
</div>
<p>We also update the template to use that value for the action and
change the title based on whether or not we've previously saved.</p>
<div class="highlight-html"><div class="highlight"><pre>{% if contact.id %}
<span class="nt">&lt;h1&gt;</span>Edit Contact<span class="nt">&lt;/h1&gt;</span>
{% else %}
<span class="nt">&lt;h1&gt;</span>Add Contact<span class="nt">&lt;/h1&gt;</span>
{% endif %}

<span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">&quot;{{ action }}&quot;</span> <span class="na">method=</span><span class="s">&quot;POST&quot;</span><span class="nt">&gt;</span>
</pre></div>
</div>
<p>You may wonder where the <code class="docutils literal"><span class="pre">contact</span></code> value in the contact comes from:
the class based views that wrap a single object (those that take
a primary key or slug) expose that to the context in two different
ways: as a variable named <code class="docutils literal"><span class="pre">object</span></code>, and as a variable named after
the model class. The latter often makes your templates easier to read
and understand later. You can customize this name by overriding
<code class="docutils literal"><span class="pre">get_context_object_name</span></code> on your view.</p>
<div class="sidebar">
<p class="first sidebar-title">Made a Change? Run the Tests.</p>
<p>We've just made a change to our <code class="docutils literal"><span class="pre">CreateContactView</span></code>, which means
this is a perfect time to run the tests we wrote. Do they still pass?
If not, did we introduce a bug, or did the behavior change in a way
that we expected?</p>
<p class="last">(Hint: We changed how the contact list is rendered, so our tests
that just expect the name there are going to fail. This is a case
where you'd need to update the test case, but it also demonstrates
how integration tests can be fragile.)</p>
</div>




</article>
<article class="slide level-2" id="deleting-contacts">

<h2>Deleting Contacts<a class="headerlink" href="../../tutorial/additional-views.html#deleting-contacts" title="View HTML">§</a></h2>

<p>The final view for our basic set of views is delete. The generic
deletion view is very similar to the edit view: it wraps a single
object and requires that you provide a URL to redirect to on success.
When it processes a HTTP GET request, it displays a confirmation page,
and when it receives an HTTP DELETE or POST, it deletes the object and
redirects to the success URL.</p>
<p>We add the view definition to <code class="docutils literal"><span class="pre">views.py</span></code>:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">DeleteView</span>
<span class="o">...</span>
<span class="k">class</span> <span class="nc">DeleteContactView</span><span class="p">(</span><span class="n">DeleteView</span><span class="p">):</span>

    <span class="n">model</span> <span class="o">=</span> <span class="n">Contact</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">&#39;delete_contact.html&#39;</span>

    <span class="k">def</span> <span class="nf">get_success_url</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">reverse</span><span class="p">(</span><span class="s">&#39;contacts-list&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>And create the template, <code class="docutils literal"><span class="pre">delete_contact.html</span></code>, in our <code class="docutils literal"><span class="pre">templates</span></code>
directory.</p>
<div class="highlight-html"><div class="highlight"><pre>{% extends &quot;base.html&quot; %}

{% block content %}

&lt;h1&gt;Delete Contact&lt;/h1&gt;

&lt;p&gt;Are you sure you want to delete the contact {{ contact }}?&lt;/p&gt;

&lt;form action=&quot;{% url &quot;contacts-delete&quot; pk=contact.id %}&quot; method=&quot;POST&quot;&gt;
  {% csrf_token %}

  &lt;input type=&quot;submit&quot; value=&quot;Yes, delete.&quot; /&gt;
  &lt;a href=&quot;{% url &quot;contacts-list&quot; %}&quot;&gt;No, cancel.&lt;/a&gt;
&lt;/form&gt;

{% endblock %}
</pre></div>
</div>
<p>Of course we need to add this to the URL definitions:</p>
<div class="highlight-python"><div class="highlight"><pre>    <span class="n">url</span><span class="p">(</span><span class="s">r&#39;^delete/(?P&lt;pk&gt;\d+)/$&#39;</span><span class="p">,</span> <span class="n">contacts</span><span class="o">.</span><span class="n">views</span><span class="o">.</span><span class="n">DeleteContactView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span>
        <span class="n">name</span><span class="o">=</span><span class="s">&#39;contacts-delete&#39;</span><span class="p">,),</span>
</pre></div>
</div>
<p>And we'll add the link to delete to the edit page.</p>
<div class="highlight-python"><div class="highlight"><pre>{% if contact.id %}
&lt;a href=&quot;{% url &quot;contacts-delete&quot; pk=contact.id %}&quot;&gt;Delete&lt;/a&gt;
{% endif %}
</pre></div>
</div>




</article>
<article class="slide level-2" id="detail-view">

<h2>Detail View<a class="headerlink" href="../../tutorial/additional-views.html#detail-view" title="View HTML">§</a></h2>

<p>Finally, let's go ahead and add a detail view for our Contacts. This
will show the details of the Contact: not much right now, but we'll
build on this shortly. Django includes a generic <code class="docutils literal"><span class="pre">DetailView</span></code>: think
of it as the single serving <code class="docutils literal"><span class="pre">ListView</span></code>.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">DetailView</span>
<span class="o">...</span>
<span class="k">class</span> <span class="nc">ContactView</span><span class="p">(</span><span class="n">DetailView</span><span class="p">):</span>

    <span class="n">model</span> <span class="o">=</span> <span class="n">Contact</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">&#39;contact.html&#39;</span>
</pre></div>
</div>
<p>Again, the template is pretty straight forward; we create
<code class="docutils literal"><span class="pre">contact.html</span></code> in the <code class="docutils literal"><span class="pre">templates</span></code> directory.</p>
<div class="highlight-html"><div class="highlight"><pre>{% extends &quot;base.html&quot; %}

{% block content %}

<span class="nt">&lt;h1&gt;</span>{{ contact }}<span class="nt">&lt;/h1&gt;</span>

<span class="nt">&lt;p&gt;</span>Email: {{ contact.email }}<span class="nt">&lt;/p&gt;</span>

{% endblock %}
</pre></div>
</div>
<p>And add the URL mapping:</p>
<div class="highlight-python"><div class="highlight"><pre>    <span class="n">url</span><span class="p">(</span><span class="s">r&#39;^(?P&lt;pk&gt;\d+)/$&#39;</span><span class="p">,</span> <span class="n">contacts</span><span class="o">.</span><span class="n">views</span><span class="o">.</span><span class="n">ContactView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span>
        <span class="n">name</span><span class="o">=</span><span class="s">&#39;contacts-view&#39;</span><span class="p">,),</span>
</pre></div>
</div>
<p>We're also going to add a method to our Contact model,
<code class="docutils literal"><span class="pre">get_absolute_url</span></code>. <code class="docutils literal"><span class="pre">get_absolute_url</span></code> is a Django convention for
obtaining the URL of a single model instance. In this case it's just
going to be a call to <code class="docutils literal"><span class="pre">reverse</span></code>, but by providing this method, our
model will play nicely with other parts of Django.</p>
<div class="highlight-python"><div class="highlight"><pre>class Contact(models.Model):
...
    def get_absolute_url(self):

        return reverse(&#39;contacts-view&#39;, kwargs={&#39;pk&#39;: self.id})
</pre></div>
</div>
<p>And we'll add the link to the contact from the contact list.</p>
<div class="highlight-html"><div class="highlight"><pre>  {% for contact in object_list %}
    &lt;li class=&quot;contact&quot;&gt;
      &lt;a href=&quot;{{ contact.get_absolute_url }}&quot;&gt;{{ contact }}&lt;/a&gt;
      (&lt;a href=&quot;{% url &quot;contacts-edit&quot; pk=contact.id %}&quot;&gt;edit&lt;/a&gt;)
    &lt;/li&gt;
  {% endfor %}
</pre></div>
</div>
<ul class="simple">
<li>Next: <a class="reference internal" href="forms.html"><em>Form Basics</em></a></li>
</ul>




</article>

</section>

<section id="slide_notes">

</section>

  </body>
</html>