@import url('https://fonts.googleapis.com/css?family=Inconsolata|Rosario');

h1.logo {
    font-family: 'Rosario', sans-serif;
}

.literal-diff-wrapper .code-block-caption {
    text-align: right;
    padding-right: 0px;
}
